<nav
  class="container navbar navbar-expand-lg navbar-light bg-light"
  th:fragment="nav"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/images/logo.jpg"
        alt="Logo"
        width="30"
        height="30"
        style="border-radius: 50%"
      />
      <span class="px-2">Book Store</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/roles">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/cats">Categories</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filters
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Advanture</a></li>
            <li><a class="dropdown-item" href="#">Sifi</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
            <li><a class="dropdown-item" href="#">Documentary</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
