<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <th:block th:insert="~{layouts/shares::head}"> </th:block>
  <body>
    <th:brock th:insert="~{layouts/nav::nav}"> </th:brock>

    <div class="container my-5">
      <h1 class="text-center my-5">User Role Edit</h1>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>ROLE_ADMIN</td>
                <td>
                  <a href="/edit" class="btn btn-sm btn-danger">
                    <i class="fa fa-add"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>ROLE_MANAGER</td>
                <td>
                  <a href="/edit" class="btn btn-sm btn-danger">
                    <i class="fa fa-add"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>ROLE_USER</td>
                <td>
                  <a href="/edit" class="btn btn-sm btn-warning">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <th:block th:insert="~{layouts/shares::foot}"></th:block>
  </body>
</html>
