<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <th:block th:insert="~{layouts/shares::head}"> </th:block>
  <body>
    <th:brock th:insert="~{layouts/nav::nav}"> </th:brock>

    <div class="container my-5">
      <h5 class="text-center my-5">Role Edit</h5>
      <form th:action="@{/roles/edit/{id}(id=${role.id})}" method="post">
        <div class="col-md-4 offset-md-4">
          <div class="mb-3">
            <label for="name" class="form-label">Role Name : </label>
            <input
              type="text"
              class="form-control rounded-0"
              id="name"
              name="name"
              th:value="${role.name}"
              required
            />
          </div>

          <div class="d-flex justify-content-between">
            <a href="/roles" class="btn btn-warning btn-sm">Cancle</a>
            <button type="submit" class="btn btn-primary btn-sm">Update</button>
          </div>
        </div>
      </form>
    </div>

    <th:block th:insert="~{layouts/shares::foot}"></th:block>
  </body>
</html>
